.top-bar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 11px -4px #7b827b;
}

.top-bar-navs {
  display: flex;
  gap: 2rem;
}

.nav-item {
  cursor: pointer;
  transition: 0.4s all;

  &:hover {
    font-weight: lighter;
  }
}

.nav-cart-icon {
  font-size: 1.1rem;
  color: #343a40;
  position: relative;
  display: inline-flex;
  cursor: pointer;

  .cart-basket {
    font-size: 0.55rem;
    position: absolute;
    top: -6px;
    right: -10px;
    width: 18px;
    height: 18px;
    color: #fff;
    background-color: #6e44ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
